body,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    padding: 0px;
    margin: 0px;
    color: inherit;
    font-size: normal;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
a {
    color: black;
    color: black;
    text-decoration: none;
}