#features{
    // height: 500px;
    .features-image{
        height: 100%;
        background-image: url(../images/parallax-img1-1.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center 200px;
    }
    .features-details{
        background: #f6f6f6;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        .features-details-item{
            @extend .p-35;
            border: 5px solid transparent;
            text-align:center;
            height: 100px;
            transition: all .3s ease;
            &:hover{
                border-color: #fdd947;
                background: white;
            }
            i{
                color: #fdd947;
                font-size: 3em;
            }
            h4{
                @extend .my-20;
            }
            p{
                font-size: 0.8em;
            }
        }
    }
}