#social{
    h2{
        text-align: center;
        color: gray;
        @extend .mb-35;
    }
    .social-item{        
        i{
            color: #fdd947;
            font-size: 3em;
        }
        h3{
            color: gray;
            font-weight: normal;
            @extend .mt-20;
        }
    }
}